
<div class="container">
    <!--top header-->
        <header >
         
              
            <nav class="navbar  navbar-expand-lg navbar-light top-navbar" data-toggle="sticky-onscroll">
                <div class="container">
                   <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                      <img src="{{asset("/images/LOGO_GARAGE-PARROT.png")}}" alt="logo car_parrot" width="200"    >
       
      </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav pull-right">
                            <li class="nav-item">
                             <a class="nav-link active" href="{{ path('app_home') }}">Accueil</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_service') }}">Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_car') }}">Voitures</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_testimonials') }}">Témoignages</a
                                <li class="nav-item">
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
                                <li class="nav-item">
                                <a class="btn btn-primary" href="{{ path('app_login') }}">Connection</a>
                               </li>

                        </ul>

                    </div>
                </div>

                    
                </nav>
          <div class=" mt-2  ">
                <!-- most top info -->
                <div class="intro-text mx-auto my-auto p-4 w-75">
                    <h1 class="text-primary mb-4 ">Garage Parrot : Votre Partenaire Automobile de Confiance</h1>
                    <h5 class="text-dark inline-block mt-2.5rem with-4d-shadow font-size:1.4rem">Nous sommes fiers de fournir des solutions complètes pour votre véhicule, que ce soit en matière de services d'entretien, de réparation et de vente. Nos engagements sont la qualité et votre totale satisfaction.</h5>
                </div>
         </div>   
            </header>
            <!-- End top header-->

</body>