

{% extends 'base.html.twig' %}

{% block title %}Garage V.parrot - Avis sur le garage{% endblock %}

{% block body %}
        <h3>Vos Témoignages</h3>

        {% for testimonials in testimonials %}
        {% if testimonials.approved() %}
         <div class="card mb-4">
                    <div class="card-body">
                        <p>{{testimonials.comment}}</p>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="25" height="25" />
                                <p class="small mb-0 ms-2">{{testimonials.name}}</p>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <p class="small text-muted mb-0">testimonials.rate</p>
                                <i class="far fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endif %}     
        {% endfor %}
{{ form_start(form) }}
        {{form_widjet(form)}}
      <button class="btn btn-primary">Valider</button>
        {{form_end(form)}}  
      
{% endblock %}










