

 {% extends 'base.html.twig' %}

{% block title %}Votre choix{% endblock %}
 

{% block body %}
<div class="container">
<h1> {{car.marque}}</h1>
    <div class="row">
        <div class="col">
          <div class="card" style="width: 35rem;">
             <img src="{{ asset('/images/car/' ~ car.imageName) }}" alt="voiture">
          </div>
        </div>

        <div class="col mt-5">
          <div class="card" style="width: 18rem;">
            
            <div class="card-body">
                <h5 class="card-title">{{car.marque}}</h5>
                  <p>Kilométrage : {{ car.getMileage() | number_format }} km</p>
                  <p>Année: {{ car.getYear() }} </p>
                  <div>
                  <p><strong>Garantie 6 mois</strong></p>
                  </div>
                  <p>Prix : {{ car.getPrice() / 100 }} €</p>
              </div>
        </div>
  </div>
        <div class="col">
          <div class="card mt-5" style="width: 18rem;">
          
              <div class="card-body ">
                    <h5 class="card-title">Nos Garanties</h5>
                    <p ><i class="fas fa-check"></i>Véhicule controlé</p>
                    <p ><i class="fas fa-check"></i>Satisfait ou remboursé </p>
                    <p ><i class="fas fa-check"></i>Offre de reprise.</p>
                    <p ><i class="fas fa-check"></i>Offre de financement</p>
                    <p ><i class="fas fa-check"></i>Assistance dépannage 7j/7</p>
        </div>
       </div> 
   </div>
</div>

<div>
    <a href="{{ path('app_contact') }}">
        <button type="submit" class="btn btn-primary mt-4 mb-4">Contactez-nous</button>
    </a>
</div>


      
{% endblock %}